<header>
  <nav>
    <ul>
      <li><%= link_to t('header.hello'), root_path, class: 'dropdown-item' %></li>
      <li><a href="/about">私たちについて</a></li>
      <li><a href="/contact">お問い合わせ</a></li>
    </ul>
  </nav>
</header>